<%- include("partials/header") -%>

    <div class="content">
        <div class="content-intro">
            <h1>Home</h1>
            <p class="section-content">
                <%= homeStartingContent %>
            </p>
        </div>

        <% blogPosts.forEach(function(post) { %>
            <div class="blog-post">
                <h1 class="section-heading">
                    <%= post.title %>
                </h1>
                <p class="section-content">
                    <%= post.content.substring(0, 100) + "... " %><a class="post-links" href="/posts/<%= post.title %>">Read More</a>
                </p>
            </div>
            <% }); %>
    </div>

    <%- include("partials/footer") -%>